/*
    colors:
    dark blue: #293462
    slate blue: #216583
    turqoise: #00818a
    yellow: #f7be16 
    silver: #eeeeee
 */


@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Arima+Madurai:100|Fredoka+One|Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Righteous');


/*****************
* Default Styling 
***/
   * {
       box-sizing: border-box;
   }

   body {
       background-color: #f7be16;
       height: 100%;
       width: 100%;
   }

   body a {
       color: black;
       text-decoration: none;
   }


/*****************
* Navbar 
***/
   header {
       background: #293462;
       border-bottom: #00818a .1em solid;
       height: 4em;
       left: 0;
       line-height: 4em;
       position: fixed;
       top: 0;
       width: 100%;
       z-index: 10000;
   }

   header section {
       margin: 0 auto;
       width: 75%;
   }

   header h1 {
       float: left;
   }
   
   header section h1 a {
       color: #00818a;
       font-family: 'Fredoka One', cursive;
       font-size: 2em;
       -webkit-text-stroke-color: #f7be16;
       -webkit-text-stroke-width: 0.05em;
   }

   header section h1 a:hover {
       color: #293462;
       font-family: 'Fredoka One', cursive;
       font-size: 2em;
       -webkit-text-stroke-color: #f7be16;
       -webkit-text-stroke-width: 0.05em;
   }
   
   header nav {
       float: right;
   }
   header nav ul {
       float: right;
   }

   header nav ul li {
       display: inline-block;
   }

   header nav ul li a {
       color: #eeeeee;
       display: block;
       font-family: 'Poiret One', cursive;
       padding: 0 0.5em 0 0.5em;
   }

   header nav ul li a:hover {
      color: #216583;
      -webkit-text-stroke-color: #eeeeee;
      -webkit-text-stroke-width: 0.01em;
   }