/*
    colors:
    dark blue: #293462
    slate blue: #216583
    turqoise: #00818a
    yellow: #f7be16 
    silver: #eeeeee
 */


@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Arima+Madurai:100|Fredoka+One|Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Delius&display=swap');


/*****************
* Default Styling 
***/
   * {
       box-sizing: border-box;
   }

   body {
       background-color: #f7be16;
       height: 100%;
       width: 100%;
   }

   body a {
       color: black;
       text-decoration: none;
   }


/*****************
* Navbar 
***/
   header {
       background: #293462;
       border-bottom: #00818a .1em solid;
       height: 4em;
       left: 0;
       line-height: 4em;
       position: fixed;
       top: 0;
       width: 100%;
       z-index: 10000;
   }

   header section {
       margin: 0 auto;
       width: 75%;
   }

   header h1 {
       float: left;
   }
   
   header section h1 a {
       color: #00818a;
       font-family: 'Fredoka One', cursive;
       font-size: 2em;
       -webkit-text-stroke-color: #f7be16;
       -webkit-text-stroke-width: 0.05em;
   }

   header section h1 a:hover {
       color: #293462;
       font-family: 'Fredoka One', cursive;
       font-size: 2em;
       -webkit-text-stroke-color: #f7be16;
       -webkit-text-stroke-width: 0.05em;
   }
   
   header nav {
       float: right;
   }
   header nav ul {
       float: right;
   }

   header nav ul li {
       display: inline-block;
   }

   header nav ul li a {
       color: #eeeeee;
       display: block;
       font-family: 'Poiret One', cursive;
       padding: 0 0.5em 0 0.5em;
   }

   header nav ul li a:hover {
      color: #216583;
      -webkit-text-stroke-color: #eeeeee;
      -webkit-text-stroke-width: 0.01em;
   }


/*****************
* Main 
***/
  main {
    background-image: url('./../images/earth.jpg');
    background-size: cover;
    margin-bottom: 5em;
    width: 100%;
  }

  #home {
    font-family: 'Righteous', cursive;
    height: 100vh;
    width: 100%;
  }

  /*****************
    * Home Section 
    ***/
        #home #bgVid {
          left: 0;
          position: absolute;
          top: 5em;
          width: 100%;
          z-index: -10000;
      }
      
      #home h1 {
          color: #216583;
          display: block;
          font-size: 3em;
          margin: 0 auto;
          padding: 2em 0;
          text-align: left;
          -webkit-text-stroke-color: #eeeeee;
          -webkit-text-stroke-width: 0.001em;
          width: 50%;
          z-index: 1000;
      }

      #home h2 {
          color: #216583;
          display: block;
          font-size: 2em;
          margin: 0 auto;
          padding: 1em 0 2em 0;
          text-align: left;
          -webkit-text-stroke-color: #eeeeee;
          -webkit-text-stroke-width: 0.001em;
          width: 50%;
          z-index: 1000;
      }

      #home section {
          height: 3em;
          line-height: 3em;
          margin: 0 auto;
          width: 50%;
      }

      #home section a {
          border: .1em solid #303841;
          border-radius: 2px;
          color: #303841;
          display: inline-block;
          font-family: 'Arima Madurai', cursive;
          font-size: 1.25em;
          padding: .2em .5em;
          text-align: center;
          -webkit-text-stroke-color: #303841;
          -webkit-text-stroke-width: 0.015em;
          z-index: 1000;
      }

      #home section a:last-of-type {
          background: #f7be16;
      }

      #home section a:last-of-type:hover {
          background: #00818a;
          box-shadow: 5px 5px 2px #f7be16;
          color: #293462;
      }


/*****************
* Register Section 
***/
      #register .container{
        display: grid;
        background-color: #216583;
        grid-template-columns: auto auto;
        grid-gap: 10px;
        padding: 10px;
        border-radius: 15px;
        width: 980px;
        color: white;
        font-family: 'Delius', cursive;
      }
      
      #register form div{
        /* text-align: center; */
        padding: 10px 0;
        font-size: 20px;
      }
      
      #register h2{
        grid-column: 1 /span 2;
        text-align: center;
      }
      
      #register p{
        grid-column: 1 /span 2;
        text-align: center;
      }
      /* .item1{
        grid-column: 1 / span 1;
        text-align: right;
      }*/
      #register .item2{
        grid-column: 1 / span 2;
        text-align: right;
      }
      
      #register .item1, .item3, .item5, .item7, .item9, .item11, .item13{
        grid-column: 1 / span 1;
        text-align: right;
      }
      
      #register button{
        text-align: center;
        width: 100px;
        grid-column: 2 / span 1;
      }